<?xml version="1.0"?>
<config>
    <modules>
        <Horsebrands_Purchaseorder>
            <version>0.0.9</version>
        </Horsebrands_Purchaseorder>
    </modules>
    <global>
      <blocks>
        <horsebrands_purchaseorder>
            <class>Horsebrands_Purchaseorder_Block</class>
        </horsebrands_purchaseorder>
        <Purchase>
          <rewrite>
            <SupplyNeeds_Grid>Horsebrands_Purchaseorder_Block_Adminhtml_Purchase_SupplyNeeds_Grid</SupplyNeeds_Grid>
            <Order_Edit>Horsebrands_Purchaseorder_Block_Adminhtml_Purchase_Order_Edit</Order_Edit>
            <Order_Edit_Tabs_Info>Horsebrands_Purchaseorder_Block_Adminhtml_Purchase_Order_Edit_Tabs_Info</Order_Edit_Tabs_Info>
            <Order_Edit_Tabs_SendToSupplier>Horsebrands_Purchaseorder_Block_Adminhtml_Purchase_Order_Edit_Tabs_SendToSupplier</Order_Edit_Tabs_SendToSupplier>
          </rewrite>
        </Purchase>
      </blocks>
      <models>
          <horsebrands_purchaseorder>
              <class>Horsebrands_Purchaseorder_Model</class>
          </horsebrands_purchaseorder>
          <Purchase>
            <rewrite>
              <Pdf_Order>Horsebrands_Purchaseorder_Model_MDN_Purchase_Pdf_Order</Pdf_Order>
              <OrderProduct>Horsebrands_Purchaseorder_Model_MDN_Purchase_OrderProduct</OrderProduct>
            </rewrite>
          </Purchase>
      </models>
      <resources>
        <horsebrands_po_setup>
            <setup>
                <module>Horsebrands_Purchaseorder</module>
            </setup>
        </horsebrands_po_setup>
    </resources>
  </global>
  <admin>
		<routers>
			<horsebrands_purchaseorder>
				<args>
					<modules>
						<horsebrands_purchaseorder before="MDN_Purchase">Horsebrands_Purchaseorder_Adminhtml</horsebrands_purchaseorder>
					</modules>
				</args>
			</horsebrands_purchaseorder>
		</routers>
	</admin>
</config>
